<div class="container">
    <header class="container__header">
        <h2 class="container__title">
            TODO LIST
        </h2>
        <h3 class="container__subtitle">
            NGRX SIGNAL STORE TRAINING
        </h3>
    </header>
    <main class="container__body">
        @if (store.loading()) {
            <div class="container__loading">
                <mat-spinner diameter="50" />
            </div>
        } @else {
            <app-todo-list-display></app-todo-list-display>
        }
    </main>
</div>