.container {
    text-align: center;
}

.container__header {
    margin-top: 2rem;
}

.container__title {
    font-weight: 600;
    color: #212121;
    letter-spacing: 4px;;
}

.container__loading {
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}